#root {
  font-family: 'Poiret One';
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.container{
  margin-bottom:2em;
}

.banner-home{
  margin-top:2%;
  height: 240px;
}

.item{
  border: 1px solid black;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}


h1{
font-size: 4rem;
}

.footer{
  text-align: left;
  font-size: 2em;
  border-top: 1px solid black;
}

.footer > p {
  font-size: 1em;
  
}
.footer > .rodape > .dados{
  font-size: 0.8em;
}